<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true" scanPeriod="1 seconds">
  <!-- See:                                                                  -->
  <!--    http://logback.qos.ch/manual/appenders.html#ConsoleAppender        -->
  <!--    http://logback.qos.ch/manual/appenders.html#RollingFileAppender    -->
  <!--    http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy -->
  <!--                                                                       -->
  <!-- for further instructions and detailed documentation                   -->

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
        <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}] %t %-5p [%c{1}]: %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
  </root>

  <!-- core stuff -->
  <!--logger name="com.github.tsc4j" level="DEBUG" /-->
  <!--logger name="com.github.tsc4j.core.AbstractConfigTransformer" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.AggConfigTransformer" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.Rot13ConfigTransformer" level="DEBUG" /-->
  <!--logger name="com.github.tsc4j.core.impl.TscBeanFactory" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.ConfigImplUtils" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.ClasspathConfigSource" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.tsc4j" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.credstash" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.FilesConfigSource" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.ClasspathConfigSource" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.Tsc4jCache" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.Tsc4jImplUtils" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.ConfigValueProviderConfigTransformer" level="TRACE" /-->

  <!--logger name="com.github.tsc4j.core.ReflectiveBeanMapper" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.ReflectiveBeanMapper" level="DEBUG" /-->
  <!--logger name="com.github.tsc4j.jackson" level="TRACE" /-->

  <!-- aws stuff -->
  <!--logger name="com.github.tsc4j.s3" level="TRACE" /-->
  <logger name="s3mock-akka" level="OFF" />
  <logger name="s3mock-akka.akka" level="OFF" />
  <logger name="com.amazonaws.util.EC2MetadataUtils" level="ERROR" />
  <!--logger name="com.github.tsc4j.aws" level="DEBUG" /-->

  <!-- gcp stuff -->
  <!--logger name="com.github.tsc4j.gcp" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.core.impl.ConfigValueProviderConfigTransformer" level="DEBUG" /-->

  <!--spring stuff -->
  <!--logger name="com.github.tsc4j.spring" level="TRACE" /-->
  <logger name="com.github.tsc4j.spring.Tsc4jPropertySource" level="TRACE" />

  <!--logger name="io.micronaut" level="TRACE" /-->
  <!--logger name="com.github.tsc4j.micronaut.Tsc4jPropertySource" level="TRACE" /-->
  <!--logger name="io.micronaut.context.env.DefaultEnvironment" level="TRACE" /-->

  <!-- micronaut stuff -->
  <!--logger name="com.github.tsc4j.micronaut2.Tsc4jPropertySourceLoader" level="TRACE" /-->

  <!--logger name="org.apache" level="TRACE" additivity="false">
    <appender-ref ref="wireDebug"/>
  </logger-->

</configuration>
<!--
  vim:shiftwidth=2 softtabstop=2 expandtab
-->
